// reset
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
//@import icon-font gelecek
/*
body{
    background: #303236;
}
*/

* {
   padding: 0;
   margin: 0;
   list-style: none;
   border: none;
   text-decoration: none;
   box-sizing: border-box;
   font-family: 'Roboto',sans-serif;
   &:focus {
       outline: 0;
   }
}